html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
  height: 30px;
  width: 100px;
  background-color: #376EB3;
  border-color: #376EB3;
  border-style: solid;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #69ABFF;
  border-color: #69ABFF;
  /* color: #FFFFFF; */
}
label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input {
  border-radius: 5px;
  border-color: #376EB3;
  border-width: 1px;
  border-style: solid;
  box-shadow: none !important;
}
.header {
  height: 10%;
  width: 100%;
  top: 0;
  background-color: #42B5D6;
  color: white;
}
.header_container {
  position: relative;
  display: inline-flex;
  height: 100%;
  width: 100%;
  top: 0;
}
.menu_icon_container {
  display: table-cell;
  height: 100%;
  width: 15%;
  vertical-align: middle;
}
.logo_icon_container {
  display: inline-block;
  height: 100%;
  width: 25%;
  vertical-align: middle;
  position: absolute;
  right: 0;
}
.menu_icon {
  padding-left: 15px;
  cursor: pointer;
  max-height: 40%;
  max-width: 40%;
  bottom: 25%;
  position: absolute;
}
.logo {
  margin-right: auto;
  margin-left: auto;
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  position: absolute;
  right: 0;
  visibility: hidden;
  padding-right: 15px;
}
.title {
  display: table-cell;
  width: 70%;
  vertical-align: middle;
  padding-top: 5px;
  text-align: center;
  visibility: hidden;
}
.colorBoxes {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  position: relative;
}
.bottomBorder {
  border-bottom: 1px solid darkgray;
}
.headers {
  display: inline-block;
  width: fit-content;
}
.main_body {
  display: table;
  padding-top: 0%;
  width: 100%;
  height: 90%;
  text-align: center;
  position: absolute;
}
.main_page_table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.home_page_image {
  max-width: 100%;
  max-height: 30%;
}
.account_buttons {
  visibility: hidden;
}
.home_table_data {
  vertical-align: baseline;
}
.home_table_data > p {
  text-align: left;
  margin-left: 10px;
}
#mainStyles {
  margin-top: 20px;
  width: 1000px;
  float: middle;
  border: 1px solid #dad6d6;
  margin-left: 50px;
  text-align: center;
  list-style-position: inside;
}
#leftMenu {
  height: 300px;
  width: 150px;
  border: 1px solid #dad6d6;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 10px;
  float: left;
}
#mainContaner {
  height: auto;
  width: 100%;
  position: absolute;
  display: flex;
  padding-bottom: 50px;
}
.invalid {
  display: none;
  background-color: #ec2b2b;
  border: 1px solid #ec2b2b;
  border-radius: 5px;
  width: 200px;
  font-weight: bolder;
  color: white;
}
.success {
  display: none;
  background-color: #4bec2b;
  border: 1px solid #4bec2b;
  border-radius: 5px;
  width: 200px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.warning {
  display: none;
  background-color: #FFF000;
  border: 1px solid #FFF000;
  border-radius: 5px;
  width: 200px;
  font-weight: bolder;
  color: #a9a9a9;
}
#menu {
  position: absolute;
  height: auto;
  width: 200px;
  display: none;
  border: 1px solid black;
  background-color: white;
  z-index: 3;
}
.menu_item {
  padding-top: 10px;
  width: 100%;
  height: 30px;
}
.menu_item:hover {
  color: white;
  background-color: #376EB3;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #5e5d5d;
  opacity: 95%;
}
/* Modal Content/Box */
.modal-content {
  width: 100%;
  height: 100%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 15px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.submit_button:hover {
  background-color: #376EB3;
  color: #FFFFFF;
  cursor: pointer;
}
.account_form_buttons {
  height: 25px;
}
.login_page {
  height: 100%;
  display: none;
}
.register_page {
  height: 100%;
  display: none;
}
.account_forms {
  margin: auto;
  display: flex;
}
.generate_page_table {
  width: 100%;
}
#submit_workout {
  display: none;
}
.workout_form {
  display: none;
}
#workout_table_header {
  display: none;
}
#generate_submit {
  display: none;
}
.remove_button {
  display: block;
  background-color: #ec2b2b;
  border: 1px solid #ec2b2b;
  border-radius: 5px;
  width: 200px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}
@media all and (min-width: 800px) {
  .logo {
    margin-right: auto;
    margin-left: auto;
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
    position: absolute;
    right: 0;
    visibility: visible;
  }
  .title {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding-top: 5px;
    text-align: center;
    visibility: visible;
  }
}
@media all and (min-width: 300px) {
  .account_buttons {
    height: 40%;
    width: 30%;
    font-size: 20px;
    visibility: visible;
  }
}
